In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/H1.csv")

In [42]:
df['canceled'] = df.IsCanceled.apply(lambda x: True if x == 1 else False)

In [51]:
df.columns

Index(['IsCanceled', 'LeadTime', 'ArrivalDateYear', 'ArrivalDateMonth',
       'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate',
       'canceled'],
      dtype='object')

In [60]:
df['year_week'] = df.apply(lambda row: str(row['ArrivalDateYear']) + str(row['ArrivalDateWeekNumber']), axis=1)

In [61]:
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,canceled,year_week
0,0,342,2015,July,27,1,0,0,2,0,...,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,False,201527
1,0,737,2015,July,27,1,0,0,2,0,...,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,False,201527
2,0,7,2015,July,27,1,0,1,1,0,...,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,False,201527
3,0,13,2015,July,27,1,0,1,1,0,...,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,False,201527
4,0,14,2015,July,27,1,0,2,2,0,...,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03,False,201527

In [48]:
pivot = df.pivot_table(index=['ArrivalDateYear', 'ArrivalDateWeekNumber'], 
                       values='IsCanceled',
                       columns=['canceled'],
                      aggfunc='count')

In [49]:
pivot

canceled                               False  True
ArrivalDateYear ArrivalDateWeekNumber
2015            27                       136     41
                28                       223     48
                29                       254     87
                30                       243     74
                31                       246    101
...                                      ...    ...
2017            31                       249    173
                32                       248    140
                33                       264    182
                34                       240    143
                35                       177    100

[115 rows x 2 columns]

In [70]:
df_year_week = pd.DataFrame(df.groupby(['year_week'])['IsCanceled'].sum()).reset_index()

In [71]:
df_year_week

    year_week  IsCanceled
0      201527          41
1      201528          48
2      201529          87
3      201530          74
4      201531         101
..        ...         ...
110     20175          51
111     20176          91
112     20177          96
113     20178         128
114     20179          77

[115 rows x 2 columns]